@import './variables'; 
@import './typography';

body{
    >header#header{
     
        @include center;
        height: 5rem;
        border-bottom: 2px solid $borderGrey;

        nav{
            @include center;
         
            width: 100%;
            height: 100%;
            ul{
                height: 100%;
             
                @include center;
                justify-content: space-between;
                width: 100%;
                list-style: none;
                
                li{
                    height: 100%;
                    width: 100%;
                  
                    @include center;

                    button{
                        border: none;
                        height: 100%;
                        @include center;
                        background: none;
                        width: 100%;
                        transition: 1s;
                        border-top:0 solid rgba(0, 0, 0, 0) ;
                        border-bottom: 0 solid rgba(0, 0, 0, 0) ;
                        padding: 0 1rem;

                        &:hover{
                            transition: 0.3s;
                            
                            cursor: pointer;
                            border-top:0 solid rgba(0, 0, 0, 0) ;
                            border-bottom: 2px solid $systemetGreen;
                        }

                        span{
                            letter-spacing: 0.5px;
                            font-family: 'Roboto Condensed', sans-serif;
                            font-size: 1rem;
                            font-weight: 400;
                        }

                    }
                }
            }
        }
    }
    background-color:$bgWhite ;
}

main#index{

    background-color:$bgWhite ;
    height: 100vh;
    @include center;
    flex-direction:column ;

    header.searchOptions{
        background-color: lightcoral;
        width: 42rem;
        @include center;

        display: grid;
        grid-template-columns: repeat(2, 1fr);

        >button:nth-child(1){
            background-color: red;
            grid-column: span 2;
            height: 2.5rem;
        }

        button:nth-child(2){
            grid-row:2; 
            width: 5rem;
 
        }

        div{
            grid-row:2; 
        }

    }


    section.drinksContainer{

        @include center;
        flex-direction:column ;
        gap: 1.5rem;

        >a{
            transition: 0.25s ease-in-out;
            text-decoration: none;
            color: black;

            border: 1px solid #2d29261a;
            border-radius: 4px;
            box-shadow: #2d29261a 0px 2px 6px 0px;


            max-width: 42rem;
            width: 100%;
            min-height: 17rem;
        
            display: grid;
            // grid-template-columns: auto auto auto;

            &:hover{
                transform: translateY(-0.18rem);
                box-shadow: #2d29261a 0px 2px 16px 0px;
                .titles> h2, .titles > h1{
                    color: $systemetGreen;
                    // border-bottom: red 1px solid;
                    text-decoration: underline;
                    // color: red !important;
                }
            }
            
            figure{
                grid-column: 1;
                grid-row: span 3;
                @include center;
                
                width: 10rem;
                img{
                    max-height: 10rem;
                    max-width: 6rem;
                    
                }
            }
            
            .titles{
                grid-column: 2;
                grid-row: 1;

                @include center;
                flex-direction: column;
                
                align-items: flex-start;
                gap: 0.1rem;
                
                >p{
                    letter-spacing: 1.25px;
                    font-family: 'Roboto Condensed', sans-serif;
                    color: $textGrey;
                    font-size: 0.8rem;
                    
                }
                
                >h1{
                    font-size: 1.2rem;
                    color: $textBlack;
                    font-weight: 500;
                }
                
                >h2{
                    font-size: 1.2rem;
                    color: $textGrey;
                    font-weight: 400;
                    letter-spacing: -0.08px;
                }
            }
            
            .usageTasteContainer{
                grid-column: 2;
                grid-row: 2;
                padding-right: 1rem;
                >p{
                    color: $textBlack;
                    font-family: "Munson Regular";
                    font-size: 0.95rem;
                    
                }
            }
            
            
            aside.clocks{
                width: 7rem;
                
                grid-column: 3;
                grid-row: span 2;
                
                @include center;
                flex-direction: column;
                justify-content: space-between;
                padding: 2rem 0;
                
                border-left: 1px solid $borderGrey;
                div.clock{
                    @include center;
                    flex-direction: column;
                    
                    object{
                        max-width: 1.5rem;
                    }
                    p{
                        font-family: 'Roboto Condensed', sans-serif;
                        color: $textBlack;
                        letter-spacing: 1.5px;
                        font-size: 0.65rem;
                        font-weight: 700;
                    }
                    
                }
            }
            footer.volumePrice{
                grid-column: 2 / span 2;

                grid-row: 3;
                border-top: 1px solid $borderGrey;
                @include center;
                justify-content: space-between;
                padding-right:2rem ;
                min-height: 3.25rem;
                
                >div{
                    @include center;
                    gap: 1rem;
                    p{
                        color: $textGrey;
                        font-size: 0.75rem;
                    }
                }
                
                
                h3{
                    font-weight: 400;
                    font-size: 1rem;
                    color: $textBlack;
                }
            }
                
            
            
            
        }

        &.strippedArticles{
            a{
                display: grid;
                grid-template-rows: 7rem 3rem;
                min-height: 0;
                height: auto;

                grid-template-columns: 7rem auto auto;
                figure{
                    grid-column: 1;
                    grid-row: span 2;
                    width: auto;
                    img{
                        padding: 2rem 2rem;

                    }
                    // img{
                    //     max-height: 1.4rem;
                    // }
                }

                .titles{
                    grid-column: 2 / 4;

                    grid-row: 1;
                }
                
                footer.volumePrice{
                    border: none;
                    grid-column: 2 / 4;
                    grid-row: 2;
                    @include center;
                    justify-content: space-between;
                    align-items: flex-start;
                    padding: 0.5rem 1rem 0 0 ;

                }
                aside.clocks{
                    display: none;
                }

                .usageTasteContainer{
                    display: none;
                }
            }
        }
    }
}

