$textGrey:#737373;
$textBlack:#2D2926;
$borderGrey:rgba(45, 41, 38, 0.1);
$bgWhite:#F9F9F9;
$systemetGreen:#095741;
$lightSystemetGreen: rgb(205, 234, 213);
$hoverGrey: rgba(45, 41, 38, 0.1);

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
    
}