$textGrey:#737373;
$textBlack:#2D2926;
$borderGrey:rgba(45, 41, 38, 0.1);
$bgWhite:#F9F9F9;
$systemetGreen:rgb(83, 127, 97);

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
    
}