@import './variables'; 
@import './typography';


body{
    @include center;
    flex-direction: column;
    justify-content: flex-start;
    background-color:$bgWhite ;

    #root{
        width: 100%;
        height: 100%;
        #app{
            height: 100%;
            width: 100%;
            @import './components/header';
        }
    }
}

main#index{
    height: 100vh;
    background-color:$bgWhite ;
    grid-column-gap: 3rem;
    padding: 0 3rem;
    grid-template-columns: 30% auto;
    margin: 0;
    width: 100%;

    display: grid;
   
    aside.filters{
        grid-column: 1;
        grid-row: span 2;
        justify-self: flex-end;
        border-right: 1px solid $borderGrey;
        height: 80vh;
        width: 15rem;
        
        .price{
            height: 100%;
            @include center;

        }
        
        

        h1{
            font-weight: 500;
            padding-bottom:1.5rem;
        }

        .dropHeader{
            font-size: 1rem;
            padding: 0.5rem;

            border-bottom: 1px solid $borderGrey;
            transition: background-color 0.3s;
            @include center;
            justify-content: space-between;

            svg{
                pointer-events: none;
                user-select: none;
                transition: 0.3s;
            }
    
            &.active{
                font-weight: 700;

                svg{     
                    transform: rotate(180deg);
                }
            }

            &:hover{
                background-color: $hoverGrey;
                cursor: pointer;
            }
        }

        .dropContainer{
            max-height:0;

            overflow: hidden;
            transition: 0.3s;
            

            flex-direction: column;
            @include center;
            gap: 1rem;

            div.sliderContainer{
                width: 100%;

                .sliderRound{
                    height: 10px;
        
                    .noUi-connect{
                        background: red;
                    }
        
                    .noUi-handle{
                        height: 18px;
                        width: 18px;
                        top: -5px;
                        right: -9px; /* half the width */
                        border-radius: 9px;
                    }
        
                }
            }


            &.show{
                transition: 0.3s;
                max-height: 7rem;
                
            }
        }
        
    }
    
    >div{
        grid-column: 2;
        gap: 1.5rem;

        max-width: 42rem;
        width: 100%;
       
        @include center;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        header.searchOptions{
        
            max-width: 42rem;
            width: 100%;
            @include center;
            
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            align-items: start;
            
            >button.filter{
                background-color: red;
                display: none;
    
            }
            
            form.sort{
                
                
                align-self: center;

                border: none;
                
                grid-row:1; 
                
                color: $systemetGreen;
                
                @include center;
                flex-direction: row;
                white-space: nowrap;
                justify-content: right;
                height: 2.5rem;
                max-width: 10rem;
                
                &:hover{
                    background-color: $lightSystemetGreen;
                    border-radius: 8px;
                }
                
                svg{
                    margin-right: 1rem;
                    z-index: 10;
                    pointer-events: none;
                    
                }

                select{
                    @include center;
                    padding-left: 0.8rem;
                    border-radius: 8px;
                    width: 100%;
                    z-index: 5;
                    
                    height: 2.5rem;
                    max-width: 10rem;

                    color: $systemetGreen;
                    font-family: 'Roboto', sans-serif;
                    font-weight: 600;
                    font-size: 1rem;
                    
                    appearance: none;
                    position: absolute;
                    background: none;
                    border: none;
                    
                    &:focus-visible{
                        outline: none;
                    }

                    &:hover{
                        cursor: pointer;
                    }
                }

                
                
                
            }
            
            div{
                
                grid-row:1; 
                @include center;
                justify-content: flex-end;
    
                gap: 0.2rem;
    
                p{
                    margin-right: 0.4rem;
                    color: $textBlack
                }
    
                button{
                    background: white;
                    border: none;
                    border-radius: 8px;
                    width: 2.5rem;
                    height: 2.5rem;
                    @include center;
                    flex-direction: column;
    
                    svg{
                        pointer-events: none;
                    }
                    &:hover{
                        cursor: pointer;
                        background: $lightSystemetGreen
                    }
    
                    &.notActive{
                        svg{
                            opacity: 0.15;
                        }
                    }
    
                }
            }
            
        }

        @import './components/productsWrapper';

        >button.loadMore{
            @include center;

            width: 8rem;
            height: 3rem;
            border-radius: 99999px;

            font-size: 1rem;
            font-weight: 600;
            
            color: white;
            align-self: center;
            background: $systemetGreen;
            border: none;

            &:hover{
                background-color: $hoverSystemetGreen;
                cursor: pointer;
            }
        }

    }
}

@media screen and (max-width: 890px){
    main#index{

        grid-column-gap: 0;
        grid-template-columns: auto;
        padding: 0 3rem;
        grid-template-rows: auto;
   
        aside.filters{
            display: none;
        }

        >div{
            justify-self: center;
            grid-column: 1;
            header.searchOptions{
                padding-bottom: 1.5rem;
                justify-self: center;
                grid-template-rows: 2.5rem fit-content(100%);   
                row-gap: 0.8rem;
    
                >button.filter{
                    background-color: white;
                    border: none;
                    grid-row: 1;
                    grid-column: span 2;
                    height: 100%;
                    display: block;
                    @include center;
                    font-size: 1rem;
                    color: $systemetGreen;
                    gap: 0.8rem;
                    font-family: 'Roboto', sans-serif;
                    border-radius: 8px;
    
                    &:hover{
                        cursor: pointer;
                        background: $lightSystemetGreen;
                    }
    
    
                }
                
                button.sort{
                    align-self: center;
                    grid-row:2; 
                    
                    
                }
                
                div{
                    grid-row:2; 
                }
    
            }

        }
    }
}